header {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: rgb(170, 228, 250);
  ul {
    width: 20vw;
    display: flex;
  }
}
